* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #FFFFFF;

    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 100%;
        gap: 0;

        h1 {
            color: #a15000;
            margin: 0;
        }

        p {
            font-size: 16px;
        }
    }
}